/*  LOGIN SCREEN CSS */

#gridpaneCenter{
    -fx-background-image: url("../images/unnamed.png");
    -fx-background-color: black;
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-font-family: 'Belwe-Medium';
    -fx-text-fill: white;
}
#labelMessageError{
    -fx-font-size: 20;
    -fx-background-color: white;
    -fx-border-color: red;
}
#anchorPaneMiddleSubscription{
    /* Transparent black glass*/
    -fx-background-color: black;
    -fx-opacity: 80%;
    -fx-background-radius: 20;
}

#vboxCenterUserLogs{
    -fx-text-fill: white;
    -fx-font-size: 20;
}

#labelinfosuser{
    -fx-font-size: 20;
    -fx-opacity: 100%;
    -fx-text-fill: white;
}

#labeltoptitlepage{
    -fx-font-size: 40;
    -fx-text-fill: white;
    -fx-font-family: "Belwe";
}

#labelBottomVersionApp{
    -fx-font-family: 'Belwe-Medium';
}
#imageViewImageleft{
    -fx-border-radius: 20;
}



/*  WELCOME SCREEN CSS*/

#mainBorderPane{
    -fx-background-image:url("../images/Closed_Hearthstone_For_Willy.png");
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-font-family: 'Belwe-Medium';

}

#anchorPaneCenter{
    -fx-font-size: 40;
    -fx-prompt-text-fill: white;
}

/* MAIN MENU APPLICATION */
#anchorPaneLeft{
    -fx-background-color: lemonchiffon;
    -fx-background-radius: 20;
    -fx-border-color: black;
}
#anchorPaneMiddle{
    -fx-background-color: lemonchiffon;
    -fx-opacity: 95%;
    -fx-background-radius: 20;
    -fx-border-color: black;
}

#scrollPaneMiddle{
    -fx-background-color: lemonchiffon;
    -fx-font-size: 40;
}
#vboxMenuLeft{
    -fx-font-size: 35;
}
#anchorPaneSelected{
    -fx-background-color:  #fff7b3;
    -fx-border-style: dashed;
    -fx-border-color: grey;
}
#labelTitlePage{
    -fx-font-size: 35;
    -fx-font-family: 'Belwe';
    -fx-border-color: black;
}
#labelTextWelcome{
    -fx-font-size: 30;
    -fx-background-color: lemonchiffon;
}
#hboxLineCard{
    -fx-border-color: black;
}

#labelWelcome:hover{
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.19, 0, 0);
}

#labelPresentationOfTheGame:hover{
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.19, 0, 0);
}

#labelCards:hover{
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.19, 0, 0);
}

#labelLessons:hover{
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.19, 0, 0);
}

#labelQuizz:hover{
    -fx-effect: dropshadow(three-pass-box, white, 50, 0.19, 0, 0);
}

#labelStatisticOfThePlayer:hover{
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.19, 0, 0);
}

#labelStreamTwitch:hover{
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.19, 0, 0);
}

#labelTopUserName{
    -fx-font-size: 60;
}

/*  CARD DETAIL PAGE*/

#anchorPaneCardDetail{
    -fx-border-radius: 80;
    -fx-background-color: lemonchiffon;
}

#vboxDetailsInfoCard{
    -fx-font-size: 20px;
    -fx-font-family: 'Belwe-Medium';
}

#vboxLeftCard{
    -fx-font-size: 35;
    -fx-font-family: 'Belwe';
    -fx-background-image: url('../images/btn/Tableau-vide.png');
    -fx-background-color: black;
    -fx-background-size: stretch;
    -fx-background-position: center;
}
/*  LESSONS PAGE */
#tabPaneListWord{
    -fx-font-size: 30;
}
/*  QUIZZ PAGE  */


#labelOnButton{
    -fx-font-size: 20;
    -fx-font-family: 'Belwe';
}
#buttonLearnstone:hover{
    /*-fx-background-image: url('../images/btn/William-ButtonAllumer.png');*/
    -fx-image: url('../images/btn/William-ButtonAllumer.png');
}
#buttonLearnstone{
    -fx-image: url('../images/btn/William-ButtonEteind.png');
}

#toggleButtonTest{
    /*-fx-graphic: url("../images/btn/William-ButtonEteind.png");*/
    -fx-background-color: transparent;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/btn/William-ButtonEteind.png");

}
#labelQuestionText{
    -fx-font-size: 40;
    -fx-font-family: 'Belwe';
}
#gridPaneQuizzResponse{
    -fx-background-image: url('../images/btn/Tableau-vide.png');
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
    -fx-background-radius: 50;
}


/*.toggle-button{*/
    /*-fx-graphic: url('../images/btn/William-ButtonEteind.png');*/
    /*-fx-background-color: transparent;*/
    /*-fx-background-repeat: stretch;*/
    /*-fx-background-size: stretch;*/
    /*-fx-background-position: center;*/
    /*-fx-font-size: 20;*/
/*}*/

/*.toggle-button:hover{*/
    /*-fx-graphic: url('../images/btn/William-ButtonAllumer.png');*/

/*}*/
.button{
    -fx-background-color: transparent;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/btn/William-ButtonEteind.png");
}
.button:hover{
    -fx-effect: dropshadow(three-pass-box, white, 50, 0.19, 0, 0);
    -fx-background-size: stretch;
    -fx-background-image: url("../images/btn/William-ButtonAllumer.png");

}
.text-field{
    -fx-font-family: "Belwe-Medium";

}
@font-face {
    font-family: 'Belwe-Medium';
    src: url('../fonts/Belwe-Medium.ttf') format('truetype');
}
@font-face {
    -fx-font-family: 'Belwe';
    src: url('../fonts/Belwe-Bold.ttf') format('truetype');
}
/*.text {*/
    /*!* -fx-font-family: "Belwe-Medium"; pour le medium*/
    /*et -fx-font-family: "Belwe"; pour en gras*/
     /**!*/
    /*!*-fx-font-family: 'Belwe-Medium';*!*/
/*}*/
