<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Learnstone - Administration Console</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="_assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="/cards">Cards</a></li>
							<li><a href="/questions">Questions</a></li>
							<li><a href="/stats">Stats</a></li>
							<li><a href="/lessons">Lessons</a></li>
							<li><a href="/glossary">Glossary</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1-alt">
						<div class="inner">
							<h1 class="major"><center>Questions</center></h1>
							<span class="image fit"><img src="_assets/images/lsquestions.jpg" alt="" /></span>

							<p><center>Welcome. <br/>In this area, you can easily <b>add</b>, <b>view</b> and <b>remove</b> a question from our game, Learnstone. <br/>Please note that <b>if you want to do a large change in the game, you should directly act on the database</b>. <br/>Thanks for your support.</br/></p>


							<hr />
							<h2>Add a question</h2>
							<p>Please, fill up all the <font color="#ff0000">required</font> fields in order to add a card.</p>

								<section>
									<form method="post" action="/questions">

										<div class="field">
											<label for="questiontext">Question <font color="#ff0000">*</font></label>
											<input type="text" name="questiontext" id="questiontext" maxlength="100" required/>
										</div>
										<br/>

										<div class="field half first">
											<label for="nbuse">Number of use <font color="#ff0000">*</font></label>
											<input type="number" name="nbuse" id="nbuse" required/>
										</div>

										<div class="field half">
											<label for="nbresult">Number of good answer <font color="#ff0000">*</font></label>
											<input type="number" name="nbresult" id="nbresult" required/>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="nbResult">Answer 1 <font color="#ff0000">*</font></label>
											<input type="text" name="answerTextOne" id="answerTextOne" required/>
										</div>

										<div class="field half">
											<label for="nbResult">Answer 2 <font color="#ff0000">*</font></label>
											<input type="text" name="answerTextTwo" id="answerTextTwo" required/>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="nbResult">Answer 3 <font color="#ff0000">*</font></label>
											<input type="text" name="answerTextThree" id="answerTextThree" required/>
										</div>

										<div class="field half">
											<label for="nbResult">Answer 4 <font color="#ff0000">*</font></label>
											<input type="text" name="answerTextFour" id="answerTextFour" required/>
										</div>
										<br/><br/><br/><br/>


										<div class="field half first">
											<label for="img">URL <font color="#ff0000">*</font></label>
											<input type="text" name="img" id="img" required/>
										</div>

										<div class="field half">
											<label for="img">Number of the correct Answer <font color="#ff0000">*</font></label>
											<input type="number" name="isCorrectAnswer" id="isCorrectAnswer" required/>
										</div>
										<br/><br/><br/><br/>

										<ul class="actions">
											<li><input type="submit" class="button scrolly" value="ADD A QUESTION" id="submit"></li>
										</ul>

								</form>
								</section>

								<hr />
								<h2>Search a question ID</h2>
								<p>If you want to delete a question, please refer to the <b>ID question</b> in the table bellow. Questions are classified by <b>alphabetical order</b>. Please, note that if you delete a question, <b>you will also delele the answer to that question</b>.</p>
								<section>

											<div class="table-wrapper">
												<table class="alt">

													<thead>
														<tr>
															<th>Id Question</th>
															<th>Question</th>
															<th>Use</th>
															<th>Good Answer</th>
														</tr>
													</thead>

													<tbody>
														<% for(var i = 0 ; i < result.length ; i++) { %>
															<tr>
																<td><%= result[i].idQuestion %></td>
																<td><%= result[i].questionText %></td>
																<td><%= result[i].nbUse %></td>
																<td><%= result[i].nbResult %></td>
															</tr>

														<% } %>

													</tbody>

													<tfoot>
														<tr>
															<td colspan="2"></td>
															<td></td>
														</tr>
													</tfoot>
												</table>

											</section>

											<hr />
											<h2>Delete a question </h2>
											<p>You need to use the <b>ID question</b> which you can find in the previous section.</p>


											<section>
												<form method="post" action="/questions/delete">
													<div class="fields">
														<label for="id">ID Question <font color="#ff0000">*</font></label>
														<input type="number" name="id" id="id" required/>
													</div>

													<ul class="actions">
														<li><input type="submit" class="button scrolly" value="DELETE A QUESTION" id="submit"></li>
													</ul>

												</form>
											</section>

											</div>

						</section>
					</center>
				</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; ESGI. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
