<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Learnstone - Administration Console</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="_assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="/cards">Cards</a></li>
							<li><a href="/questions">Questions</a></li>
							<li><a href="/stats">Stats</a></li>
							<li><a href="/lessons">Lessons</a></li>
							<li><a href="/glossary">Glossary</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1-alt">
						<div class="inner">
							<h1 class="major"><center>Questions</center></h1>
							<span class="image fit"><img src="_assets/images/lsquestions.jpg" alt="" /></span>

							<p><center>In this area, you can <b>add</b>, <b>view</b> and <b>remove</b> a question and answer. <br/>Please, note that deleting a question will also delete answer to that question. </br/></p>


							<hr />
							<h2>Add a question</h2>
							<p>Please, fill up all the <font color="#ff0000">required</font> fields in order to add a question.</p>

								<section>
									<form method="post" action="/questions">

										<div class="field">
											<label for="questionText">Question <font color="#ff0000">*</font></label>
											<input type="text" name="questionText" id="questionText" maxlength="100" required/>
										</div>
										<br/>

										<div class="field half first">
											<label for="nbUse">Number of use <font color="#ff0000">*</font></label>
											<input type="number" name="nbUse" id="nbUse" required/>
										</div>

										<div class="field half">
											<label for="nbResult">Number of good answer <font color="#ff0000">*</font></label>
											<input type="number" name="nbResult" id="nbResult" required/>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="nbResult">Answer 1 <font color="#ff0000">*</font></label>
											<input type="text" name="answerTextOne" id="answerTextOne" required/>
										</div>

										<div class="field half">
											<label for="nbResult">Answer 2 <font color="#ff0000">*</font></label>
											<input type="text" name="answerTextTwo" id="answerTextTwo" required/>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="nbResult">Answer 3 </label>
											<input type="text" name="answerTextThree" id="answerTextThree"/>
										</div>

										<div class="field half">
											<label for="nbResult">Answer 4 </label>
											<input type="text" name="answerTextFour" id="answerTextFour"/>
										</div>
										<br/><br/><br/><br/>


										<div class="field half first">
											<label for="img">URL of the question picture </label>
											<input type="text" name="img" id="img"/>
										</div>

										<div class="field half">
											<label for="idCorrectAnswer">Number of the correct Answer <font color="#ff0000">*</font></label>
											<input type="number" name="idCorrectAnswer" id="idCorrectAnswer" min="1" max="4" required/>
										</div>
										<br/><br/><br/><br/>

										<ul class="actions">
											<li><input type="submit" class="button scrolly" value="ADD A QUESTION" id="submit"></li>
										</ul>

								</form>
								</section>

								<hr />
								<h2>Search a question ID</h2>
								<p>If you want to delete a question, please refer to the <b>ID question</b> in the table bellow. Questions are classified by <b>alphabetical order</b>. <br/>The right answer is <font color="#5FFF39">green.</font><br/><br/></p>
								<section>

											<div class="table-wrapper">
												<table class="alt">

													<thead>
														<tr>
															<th>Id Question</th>
															<th>Question</th>
															<th>Answer 1</th>
															<th>Answer 2</th>
															<th>Answer 3</th>
															<th>Answer 4</th>
														</tr>
													</thead>

													<tbody>
														<% if(locals.questionsAndAnswers) { %>

															<% var answerCpt = 0; %>

															<% for(var i = 0 ; i < questionsAndAnswers.length ; i++) { %>

																<% if( (i+1 != questionsAndAnswers.length) && (questionsAndAnswers[i].idQuestion == questionsAndAnswers[i+1].idQuestion) ) { %>
																	<% continue; %>
																<% } %>

																<tr>
																	<td><%= questionsAndAnswers[i].idQuestion %></td>
																	<td><%= questionsAndAnswers[i].questionText %></td>

																	<% for(var j = 0 ; j < questionsAndAnswers.length ; j++) { %>

																		<% if(questionsAndAnswers[i].idQuestion == questionsAndAnswers[j].idQuestion) { %>

																			<% if(questionsAndAnswers[j].isCorrectAnswer == 1) { %>

																				<td><font color="#5FFF39"><%= questionsAndAnswers[j].answerText %></font></td>
																				<% answerCpt++; %>

																			<% } else{ %>

																				<td><%= questionsAndAnswers[j].answerText %></td>
																				<% answerCpt++; %>

																			<% } %>

																		<% } %>

																	<% } %>

																	<% while(answerCpt < 4) { %>

																		<td></td>
																		<% answerCpt++; %>

																	<% } %>
																	<% answerCpt = 0; %>

																</tr>

															<% } %>

														<% } %>

													</tbody>

													<tfoot>
														<tr>
															<td colspan="2"></td>
															<td></td>
														</tr>
													</tfoot>
												</table>

											</section>

											<hr />
											<h2>Delete a question </h2>
											<p>You need to use the <b>ID question</b> which you can find in the previous section. <br/>Please, note that if you delete a question, <b>you will also delete all answers to that question</b>.</p>


											<section>
												<form method="post" action="/questions/delete">
													<div class="fields">
														<label for="idQuestion">ID Question <font color="#ff0000">*</font></label>
														<input type="number" name="idQuestion" id="idQuestion" required/>
													</div>

													<ul class="actions">
														<li><input type="submit" class="button scrolly" value="DELETE A QUESTION" id="submit"></li>
													</ul>

												</form>
											</section>

											</div>

						</section>
					</center>
				</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; ESGI. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
